server {
    server_name _;
    server_name {{ meshcentral_fqdn }};
    proxy_send_timeout 330s;
    proxy_read_timeout 330s;
    location / {
        proxy_pass http://127.0.0.1:4430/;
        proxy_http_version 1.1;# Allows websockets over HTTPS.
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade"; # Inform MeshCentral about the real host, port and protocol
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ meshcentral_fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ meshcentral_fqdn }}/privkey.pem;
} 

server {
    if ($host = {{ meshcentral_fqdn }}) {
        return 302 https://$host$request_uri;
    }


    listen 80;
    server_name {{ meshcentral_fqdn }};
    return 404;


}
